amqp==5.3.1
asgiref==3.8.1
asttokens==2.4.1
billiard==4.2.1
black==24.10.0
celery==5.4.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
decorator==5.1.1
Django==5.1.3
django-filter==24.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
executing==2.1.0
flake8==7.1.1
idna==3.10
inflection==0.5.1
ipython==8.29.0
isort==5.13.2
jedi==0.19.2
kombu==5.4.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy-extensions==1.0.0
nullable==0.2.0
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
psycopg2-binary==2.9.10
pure_eval==0.2.3
pyflakes==3.2.0
Pygments==2.18.0
PyJWT==2.10.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
stack-data==0.6.3
stripe==11.3.0
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
(.venv) PS C:\Users\Сергей\PycharmProjects\drf-24.1> pip install django-celery-beat
Collecting django-celery-beat
  Downloading django_celery_beat-2.7.0-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: celery<6.0,>=5.2.3 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from django-celery-beat) (5.4.0)
Collecting django-timezone-field>=5.0 (from django-celery-beat)
  Downloading django_timezone_field-7.0-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: tzdata in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from django-celery-beat) (2024.2)
Collecting python-crontab>=2.3.4 (from django-celery-beat)
  Downloading python_crontab-3.2.0-py3-none-any.whl.metadata (17 kB)
Collecting cron-descriptor>=1.2.32 (from django-celery-beat)
  Downloading cron_descriptor-1.4.5-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: Django<5.2,>=2.2 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from django-celery-beat) (5.1.3)
Requirement already satisfied: billiard<5.0,>=4.2.0 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from celery<6.0,>=5.2.3->django-celery-beat) (4.2.1)
Requirement already satisfied: vine<6.0,>=5.1.0 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from celery<6.0,>=5.2.3->django-celery-beat) (5.1.0)
Requirement already satisfied: click<9.0,>=8.1.2 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from celery<6.0,>=5.2.3->django-celery-beat) (8.1.7)
Requirement already satisfied: click-didyoumean>=0.3.0 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from celery<6.0,>=5.2.3->django-celery-beat) (0.3.1)
Requirement already satisfied: click-repl>=0.2.0 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from celery<6.0,>=5.2.3->django-celery-beat) (0.3.0)
Requirement already satisfied: click-plugins>=1.1.1 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from celery<6.0,>=5.2.3->django-celery-beat) (1.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from celery<6.0,>=5.2.3->django-celery-beat) (2.9.0.post0)
Requirement already satisfied: asgiref<4,>=3.8.1 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from Django<5.2,>=2.2->django-celery-beat) (3.8.1)
Requirement already satisfied: sqlparse>=0.3.1 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from Django<5.2,>=2.2->django-celery-beat) (0.5.1)
Requirement already satisfied: colorama in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from click<9.0,>=8.1.2->celery<6.0,>=5.2.3->django-celery-beat) (0.4.6)
Requirement already satisfied: prompt-toolkit>=3.0.36 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from click-repl>=0.2.0->celery<6.0,>=5.2.3->django-celery-beat) (3.0.48)
Requirement already satisfied: amqp<6.0.0,>=5.1.1 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from kombu<6.0,>=5.3.4->celery<6.0,>=5.2.3->django-celery-beat) (5.3.1)
Requirement already satisfied: six>=1.5 in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from python-dateutil>=2.8.2->celery<6.0,>=5.2.3->django-celery-beat) (1.16.0)
Requirement already satisfied: wcwidth in c:\users\сергей\pycharmprojects\drf-24.1\.venv\lib\site-packages (from prompt-toolkit>=3.0.36->click-repl>=0.2.0->celery<6.0,>=5.2.3->django-celery-beat) (0.2.13)
Downloading django_celery_beat-2.7.0-py3-none-any.whl (94 kB)
Downloading cron_descriptor-1.4.5-py3-none-any.whl (50 kB)
Downloading django_timezone_field-7.0-py3-none-any.whl (13 kB)
Downloading python_crontab-3.2.0-py3-none-any.whl (27 kB)
Installing collected packages: cron-descriptor, python-crontab, django-timezone-field, django-celery-beat
Successfully installed cron-descriptor-1.4.5 django-celery-beat-2.7.0 django-timezone-field-7.0 python-crontab-3.2.0
(.venv) PS C:\Users\Сергей\PycharmProjects\drf-24.1> pip freeze
amqp==5.3.1
asgiref==3.8.1
asttokens==2.4.1
billiard==4.2.1
black==24.10.0
celery==5.4.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
decorator==5.1.1
Django==5.1.3
django-celery-beat==2.7.0
django-filter==24.3
django-timezone-field==7.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
executing==2.1.0
flake8==7.1.1
idna==3.10
inflection==0.5.1
ipython==8.29.0
isort==5.13.2
jedi==0.19.2
kombu==5.4.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy-extensions==1.0.0
nullable==0.2.0
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
psycopg2-binary==2.9.10
pure_eval==0.2.3
pycodestyle==2.12.1
PyJWT==2.10.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
wcwidth==0.2.13
(.venv) PS C:\Users\Сергей\PycharmProjects\drf-24.1> git branch -M main
(.venv) PS C:\Users\Сергей\PycharmProjects\drf-24.1> git push -u origin main
Enumerating objects: 208, done.
Counting objects: 100% (208/208), done.
Delta compression using up to 12 threads
Compressing objects: 100% (202/202), done.
Writing objects: 100% (208/208), 35.14 KiB | 1.03 MiB/s, done.
Total 208 (delta 118), reused 0 (delta 0), pack-reused 0 (from 0)
remote: Resolving deltas: 100% (118/118), done.
To github.com:SergeyUpgrade/26_2.git
 * [new branch]      main -> main
branch 'main' set up to track 'origin/main'.
(.venv) PS C:\Users\Сергей\PycharmProjects\drf-24.1> pip install redis
Collecting redis
  Downloading redis-5.2.0-py3-none-any.whl.metadata (9.1 kB)
Downloading redis-5.2.0-py3-none-any.whl (261 kB)
Installing collected packages: redis
Successfully installed redis-5.2.0
(.venv) PS C:\Users\Сергей\PycharmProjects\drf-24.1> pip freeze
amqp==5.3.1
asgiref==3.8.1
asttokens==2.4.1
billiard==4.2.1
black==24.10.0
celery==5.4.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
decorator==5.1.1
Django==5.1.3
django-celery-beat==2.7.0
django-filter==24.3
django-timezone-field==7.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
executing==2.1.0
flake8==7.1.1
idna==3.10
inflection==0.5.1
ipython==8.29.0
isort==5.13.2
jedi==0.19.2
kombu==5.4.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy-extensions==1.0.0
nullable==0.2.0
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
psycopg2-binary==2.9.10
pure_eval==0.2.3
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.18.0
PyJWT==2.10.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
redis==5.2.0
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
stack-data==0.6.3
stripe==11.3.0
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
